

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Chat</title>
</head>
<body>
    <h3>Edit Your Chat: <%= Chat._id %></h3>
    <p>This chat was sent from <%= Chat.from %> to <%= Chat.to %></p>
    <form method="post" action="/chats/<%=Chat._id%>?_method=PUT">

        <label for="message">Message:</label>
        <textarea name="message" id="message" rows="5" cols="10"><%= Chat.message %></textarea>
        <button type="submit">Edit</button>
    </form>
</body>
</html>
